<div class="accordion-item js-accordion-item reveal hover-link">
          <div data-w-id="a67f893b-cd64-4f32-2831-476a98551b64" class="accordion-header js-accordion-header">
            <div class="flex-horizontal">
              <h2 class="white desktop">{{ texts.6827acd9 }}</h2>
              <h3 class="white mobile">{{ texts.6827acd9 }}</h3>
              <div class="margin-left-24">
                <div class="spacing-top-16">
                  <div class="elevated white">{{ texts.-7de80723 }}</div>
                </div>
              </div>
              <div class="flex-spread">
                <div class="float-right">
                  <div class="spacing-top-8">
                    <div class="image-cover-height height-24"><img src="{{ images.-115a15d6.url }}" loading="lazy" alt="{{ images.-115a15d6.alt | trim | escape }}" class="height-100 _100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-body js-accordion-body">
            <div class="spacing-top-32">
              <div class="two-column-grid tablet">
                <div>
                  <p class="white">{{ texts.44c3eeb8 }}<br><br>{{ texts.3cb3f7c5 }}</p>
                  <div class="spacing-top-32">
                    <div class="hover-animation-wrapper-20">
                      <a rel="noopener" href="{{ links.-6c6b3685 }}" target="_blank" class="white hover-link padding-link">{{ texts.4b0ff13e }}</a>
                      <a rel="noopener" href="{{ links.-6c6b3685 }}" target="_blank" class="white hover-link padding-link">{{ texts.4b0ff13e }}</a>
                    </div>
                    <div class="hover-animation-wrapper-20">
                      <a rel="noopener" href="{{ links.-6d7712bb }}" target="_blank" class="white hover-link padding-link">{{ texts.792b2792 }}</a>
                      <a rel="noopener" href="{{ links.-6d7712bb }}" target="_blank" class="white hover-link padding-link">{{ texts.792b2792 }}</a>
                    </div>
                  </div>
                </div>
                <div class="image-cover-height"><img src="{{ images.5ca31bb9.url }}" loading="lazy" alt="{{ images.5ca31bb9.alt | trim | escape }}" class="height-100 _100"></div>
              </div>
            </div>
          </div>
        </div>