<footer id="footer" class="footer wf-section">
    <div class="container">
      <div class="footer-div-case">
        <div class="footer-grid-case">
          <div id="w-node-c6c89d0f-b7ef-9ded-25f9-3a927f02c007-1e502c1d">
            <h2 class="white max-width-900">{{ texts.70aa4ab7 }}</h2>
            <h2 class="white max-width-900">{{ texts.345d4029 }}</h2>
          </div>
          <div id="w-node-f3c9cf0f-9506-9a42-9fb4-ddc91e502c27-1e502c1d" class="cta-div bottom-8">
            <div data-w-id="f3c9cf0f-9506-9a42-9fb4-ddc91e502c2a" class="hover-animation-wrapper-28">
              <a href="{{ links.25775872 }}" class="cta-footer-case hover-link">{{ texts.-49840e86 }}</a>
              <a href="{{ links.-53bb5b3e }}" class="cta-footer-case hover-link">{{ texts.-49840e86 }}</a>
            </div>
          </div>
        </div>
        <div class="spacing-top-76">
          <div class="footer-grid-case align-top">
            <p id="w-node-f3c9cf0f-9506-9a42-9fb4-ddc91e502c31-1e502c1d" class="copyright-case">{{ texts.ca1e66e }}<br>{{ texts.3d7cfd46 }}<br></p>
            <div id="w-node-f3c9cf0f-9506-9a42-9fb4-ddc91e502c36-1e502c1d">
              <div class="hover-animation-wrapper-20">
                <a rel="noopener" href="{{ links.34b0f576 }}" target="_blank" class="social-link hover-link">{{ texts.2c9a4253 }}</a>
                <a rel="noopener" href="{{ links.34b0f576 }}" target="_blank" class="social-link hover-link">{{ texts.2c9a4253 }}</a>
              </div>
              <div class="hover-animation-wrapper-20">
                <a rel="noopener" href="{{ links.-557d0969 }}" target="_blank" class="social-link hover-link">{{ texts.792b2792 }}</a>
                <a rel="noopener" href="{{ links.-557d0969 }}" target="_blank" class="social-link hover-link">{{ texts.792b2792 }}</a>
              </div>
              <div class="hover-animation-wrapper-20">
                <a rel="noopener" href="{{ links.-3aae9139 }}" target="_blank" class="social-link hover-link">{{ texts.4b0ff13e }}</a>
                <a rel="noopener" href="{{ links.4b5dc153 }}" target="_blank" class="social-link hover-link">{{ texts.4b0ff13e }}</a>
              </div>
            </div>
            <div id="w-node-f3c9cf0f-9506-9a42-9fb4-ddc91e502c4b-1e502c1d">
              <div class="hover-animation-wrapper-20">
                <a rel="noopener" href="{{ links.74924984 }}" target="_blank" class="social-link hover-link">{{ texts.1d2eff34 }}</a>
                <a rel="noopener" href="{{ links.74924984 }}" target="_blank" class="social-link hover-link">{{ texts.1d2eff34 }}</a>
              </div>
              <div class="hover-animation-wrapper-20">
                <a rel="noopener" href="{{ links.33972baf }}" target="_blank" class="social-link hover-link">{{ texts.-76dc846b }}</a>
                <a rel="noopener" href="{{ links.33972baf }}" target="_blank" class="social-link hover-link">{{ texts.-76dc846b }}</a>
              </div>
            </div>
            <ul id="w-node-f3c9cf0f-9506-9a42-9fb4-ddc91e502c5b-1e502c1d" role="list" class="socials-list-2-mobile none w-list-unstyled">
              <li class="social-link-list">
                <div class="hover-animation-wrapper-20">
                  <a href="{{ links.-557d0969 }}" target="_blank" class="social-link hover-link">{{ texts.792b2792 }}</a>
                  <a href="{{ links.-557d0969 }}" target="_blank" class="social-link hover-link">{{ texts.792b2792 }}</a>
                </div>
              </li>
              <li data-w-id="f3c9cf0f-9506-9a42-9fb4-ddc91e502c62" class="social-link-list">
                <div class="hover-animation-wrapper-20">
                  <a href="{{ links.-5fdb8b88 }}" target="_blank" class="social-link hover-link">{{ texts.217bfee6 }}</a>
                  <a href="{{ links.-5fdb8b88 }}" target="_blank" class="social-link hover-link">{{ texts.217bfee6 }}</a>
                </div>
              </li>
              <li data-w-id="f3c9cf0f-9506-9a42-9fb4-ddc91e502c68" class="social-link-list">
                <div class="hover-animation-wrapper-20">
                  <a href="{{ links.33972baf }}" target="_blank" class="social-link hover-link">{{ texts.-76dc846b }}</a>
                  <a href="{{ links.33972baf }}" target="_blank" class="social-link hover-link">{{ texts.-76dc846b }}</a>
                </div>
              </li>
            </ul>
            <ul id="w-node-f3c9cf0f-9506-9a42-9fb4-ddc91e502c6e-1e502c1d" role="list" class="socials-list-mobile none w-list-unstyled">
              <li data-w-id="f3c9cf0f-9506-9a42-9fb4-ddc91e502c6f" class="social-link-list">
                <div class="hover-animation-wrapper-20">
                  <a href="{{ links.-3aae9139 }}" target="_blank" class="social-link hover-link">{{ texts.4b0ff13e }}</a>
                  <a href="{{ links.4b5dc153 }}" target="_blank" class="social-link hover-link">{{ texts.4b0ff13e }}</a>
                </div>
              </li>
              <li class="social-link-list">
                <div class="hover-animation-wrapper-20">
                  <a href="{{ links.34b0f576 }}" target="_blank" class="social-link hover-link">{{ texts.2c9a4253 }}</a>
                  <a href="{{ links.34b0f576 }}" target="_blank" class="social-link hover-link">{{ texts.2c9a4253 }}</a>
                </div>
              </li>
              <li class="social-link-list">
                <div class="hover-animation-wrapper-20">
                  <a href="{{ links.774614fc }}" target="_blank" class="social-link hover-link">{{ texts.41b656b9 }}</a>
                  <a href="{{ links.774614fc }}" target="_blank" class="social-link hover-link">{{ texts.41b656b9 }}</a>
                </div>
              </li>
            </ul>
            <h1 id="w-node-f3c9cf0f-9506-9a42-9fb4-ddc91e502c81-1e502c1d" class="logo-bottom-mobile">{{ texts.62321fda }}</h1>
            <h1 id="w-node-f3c9cf0f-9506-9a42-9fb4-ddc91e502c83-1e502c1d" class="cta-footer-mobile">
              <a href="{{ links.80c68cd }}" class="cta-footer-mobile-l">{{ texts.-5bd00050 }}<br>{{ texts.-49840e86 }}</a><br>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </footer>