<div class="nav-container">
      <div id="navbar" class="nav-bar">
        <a href="{{ links.2f }}" aria-current="page" class="nav-logo-div hover-link w-inline-block w--current"><img src="{{ images.-45b62460.url }}" loading="lazy" id="logo" alt="{{ images.-45b62460.alt | trim | escape }}" class="nav-logo"></a>
        <div class="menu-links horizontal">
          <div class="hover-animation-wrapper-20">
            <a href="{{ links.35a64a21 }}" class="hover-link navbar-link1 white">{{ texts.37c711 }}</a>
            <a href="{{ links.35a64a21 }}" class="hover-link mobile white">{{ texts.37c711 }}</a>
          </div>
          <div class="margin-left-56">
            <div class="hover-animation-wrapper-20">
              <a href="{{ links.55b8e8be }}" class="hover-link navbar-link2 white">{{ texts.-6d96622a }}</a>
              <a href="{{ links.55b8e8be }}" class="hover-link mobile white">{{ texts.3b32b6d }}</a>
            </div>
          </div>
          <div class="margin-left-56 hide">
            <div class="hover-animation-wrapper-20">
              <a href="{{ links.2c48051 }}" class="hover-link navbar-link2 white">{{ texts.1f27a2 }}</a>
              <a href="{{ links.2c48051 }}" class="hover-link mobile white">{{ texts.1f27a2 }}</a>
            </div>
          </div>
          <div class="margin-left-56">
            <div class="hover-animation-wrapper-20">
              <a href="{{ links.-1ea19b55 }}" class="hover-link navbar-link2 white">{{ texts.1774fd }}</a>
              <a href="{{ links.-1ea19b55 }}" class="hover-link mobile white">{{ texts.1774fd }}</a>
            </div>
          </div>
          <div class="margin-left-56">
            <div class="hover-animation-wrapper-20">
              <a href="{{ links.16f667 }}" class="hover-link navbar-link2 white">{{ texts.11cd6 }}</a>
              <a href="{{ links.16f667 }}" class="hover-link mobile white">{{ texts.11cd6 }}</a>
            </div>
          </div>
          <div class="margin-left-56">
            <div class="hover-animation-wrapper-20">
              <a data-splitbee-event="Lets Talk" href="{{ links.8219d21 }}" class="hover-link navbar-link3 white">{{ texts.-13e0cf3b }}</a>
              <a href="{{ links.-53bb5b3e }}" class="hover-link mobile white">{{ texts.-13e0cf3b }}</a>
            </div>
          </div>
        </div>
        <div data-w-id="4e3174fa-1d5e-e870-dbde-f3657018c64a" class="menu-btn"><img src="{{ images.317f733b.url }}" loading="lazy" alt="{{ images.317f733b.alt | trim | escape }}" class="hamb-img"></div>
      </div>
      <div class="mobile-menu">
        <a href="{{ links.35a64a21 }}" class="navbar-link1 mobile-nav-link white">{{ texts.37c711 }}</a>
        <a href="{{ links.55b8e8be }}" class="mobile-nav-link navbar-link3 white">{{ texts.-3529562a }}</a>
        <a href="{{ links.-1ea19b55 }}" class="mobile-nav-link navbar-link3 white">{{ texts.1774fd }}</a>
        <a href="{{ links.16f667 }}" class="mobile-nav-link navbar-link3 white">{{ texts.11cd6 }}</a>
        <a href="{{ links.2c48051 }}" class="mobile-nav-link navbar-link2 hide">{{ texts.1f27a2 }}</a>
        <a href="{{ links.-491e646d }}" class="mobile-nav-link navbar-link4 white">{{ texts.-13efd73b }}</a>
      </div>
    </div>