<div class="nav-container">
    <div id="navbar" class="nav-bar">
      <a href="{{ links.2f }}" class="nav-logo-div hover-link w-inline-block"><img src="{{ images.5500249e.url }}" loading="lazy" id="logo" alt="{{ images.5500249e.alt | trim | escape }}" class="nav-logo"></a>
      <div class="menu-links horizontal">
        <div class="hover-animation-wrapper-20">
          <a href="{{ links.35a64a21 }}" class="hover-link navbar-link1 black">{{ texts.-3a1489b }}</a>
          <a href="{{ links.35a64a21 }}" class="hover-link mobile black">{{ texts.-3a1489b }}</a>
        </div>
        <div class="margin-left-56">
          <div class="hover-animation-wrapper-20">
            <a href="{{ links.55b8e8be }}" class="hover-link navbar-link2 black">{{ texts.3b32b6d }}</a>
            <a href="{{ links.55b8e8be }}" class="hover-link mobile black">{{ texts.3b32b6d }}</a>
          </div>
        </div>
        <div class="margin-left-56">
          <div class="hover-animation-wrapper-20">
            <a href="{{ links.2c48051 }}" class="hover-link navbar-link2 black">{{ texts.1f27a2 }}</a>
            <a href="{{ links.2c48051 }}" class="hover-link mobile black">{{ texts.1f27a2 }}</a>
          </div>
        </div>
        <div class="margin-left-56">
          <div class="hover-animation-wrapper-20">
            <a href="{{ links.25775872 }}" class="hover-link navbar-link3 black">{{ texts.754d54a5 }}</a>
            <a href="{{ links.25775872 }}" class="hover-link mobile black">{{ texts.754d54a5 }}</a>
          </div>
        </div>
      </div>
      <div data-w-id="603e033e-ef7f-78cf-3681-3927292c650f" class="menu-btn white"><img src="{{ images.317f733b.url }}" loading="lazy" alt="{{ images.317f733b.alt | trim | escape }}" class="hamb-img"></div>
    </div>
    <div class="mobile-menu white">
      <a href="{{ links.35a64a21 }}" class="navbar-link1 mobile-nav-link white">{{ texts.-3a1489b }}</a>
      <a href="{{ links.2c48051 }}" class="mobile-nav-link navbar-link2 white">{{ texts.1f27a2 }}</a>
      <a href="{{ links.55b8e8be }}" class="mobile-nav-link navbar-link3 white">{{ texts.645f0031 }}</a>
      <a href="{{ links.25775872 }}" class="mobile-nav-link navbar-link4 white">{{ texts.-13f6fc6f }}</a>
    </div>
  </div>